
.left-menu {
  border-right: 1px solid #efefef;  
}
.my-account-menu .span-ic {
    box-shadow: 4px 4px 16px #0000004d;
    padding: 13px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-right: 15px;
}

.my-account-menu a.active .span-ic, .my-account-menu a:hover .span-ic  {
    background-color: var(--main-color);
    color: #fff;
}

.my-account-menu a.active span, .my-account-menu a:hover span {
    color: var(--main-color);  
}

.my-account-menu li {
  border-bottom: 1px solid #efefef;
  padding-bottom: 10px;
}

.form-control {
    height: 46px;
}

.cmn-frm select{
    width: 100%;
    padding: 10px 15px 10px 55px;
    border: 1px solid #efefef;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.ui-datepicker-calendar tr td:first-child {
    padding-left: 0px;
}
.ui-datepicker td span, .ui-datepicker td a {
    text-align: center;
}
.btn-pay { width: 20% !important; }
.add-creadit-header { 
    font-size: 36px;
    font-weight: 500; 
}
.input-group-text {
    background-color: #efefef;
    border: 1px solid #efefef;
}
.input-group input {
    border: 1px solid #efefef;   
}

.cmn-frm button{
    width: 100%;
    padding: 10px 15px 10px 55px;
    border: 1px solid #efefef;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.chk-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.chk-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.chk-container input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.chk-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.chk-container .checkmark:after {
  left: 9px;
  top: 2px;
  width: 7px;
  height: 17px;
  border: solid 1px var(--main-color);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.chk-wallet-div {
    text-align: left;
    color: #fff;
    padding-left: 35px;
    cursor: pointer;
}
.chk-text {
    position: absolute;
    font-size: 22px;
    top: -4px;
    color: #fff;
    cursor: pointer;
}

.cart-wallet-div {
    color:  #fff;
    margin-top: 10px;
}

.total-amount .payment-btn span {
    margin-left: 0px !important;
    font-size: 22px;
}
